.vert-space {
  margin-top: 10px;
  padding-top: 10px;

  margin-bottom: 10px;
  padding-bottom: 10px;
}
.mouse-pointer {
  cursor: pointer;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vert-space-below {
  margin-bottom: 5px;
  padding-bottom: 5px;
}
