<div class="card h-100">
    <div class="card-block">

      <!-- if image is available, center it along with the name -->
      <div *ngIf="repPhotoUrl" class="img-pos">
        <img class="card-img-top" height="100px"
        [src]="repPhotoUrl"
        [alt]="rep.label">

          <h3 class="card-title rep-name card-title-nowrap">{{ name }} </h3>
      </div>

      <!-- if no image is available, let the name not be centered -->
      <h3 *ngIf="! repPhotoUrl" class="card-title rep-name card-title-nowrap">{{ name }} </h3>

      <!-- mat-list adds a little space, and a larger font-->
      <mat-list>
          <mat-list-item>
            {{ rep.state }}
              <span *ngIf="rep.district" > - {{ rep.district}} </span>
          </mat-list-item>

          <mat-list-item >{{  rep.partyFull }}</mat-list-item>

      </mat-list>

      <div *ngIf="rep.legislator">

        <div class="card-text lower-vert-space">
            <div *ngIf="rep.legislator?.bio?.birthday" class="card-text-pos" >
                <span class="dl">Born: </span> {{ rep.legislator.bio?.birthday }}
            </div>
              <div *ngIf="wikipediaLink"  class="card-text-pos">
                  <a [href]="wikipediaLink" target="_blank" >Wikipedia</a>
              </div>
              <div *ngIf="currentTerm?.url" class="card-text-pos">
                <a [href]="currentTerm?.url" target="_blank" >Web</a>
              </div>
              <div *ngIf="currentTerm?.phone" class="card-text-pos">
                  <span class="dl">Phone: </span> {{currentTerm?.phone}}
              </div>

        </div>

        <!-- leadership roles and terms -->
        <mat-accordion multi="true">

        <!-- leadership roles -->
        <div *ngIf="rep.legislator.leadershipRoles && rep.legislator.leadershipRoles.length > 0" >

          <mat-expansion-panel>
            <mat-expansion-panel-header> Leadership Roles </mat-expansion-panel-header>

            <table class="table table-bordered">
              <thead>
                <th>Title</th>
                <th>Chamber</th>
                <th>Start</th>
                <th>End</th>
              </thead>
              <tr *ngFor="let item of rep.legislator.leadershipRoles; let i=index" >
                  <td> {{ item.title }} </td>
                  <td class="capitalize"> {{ item.chamber}}  </td>
                  <td>{{ item.start |  date:'shortDate'  }} </td>
                  <td> {{ item.end  | date: 'shortDate' }} </td>
              </tr>
            </table>
          </mat-expansion-panel>

        </div> <!-- leadership roles -->



        <div *ngIf="this.rep?.legislator?.terms && this.rep?.legislator?.terms?.length > 0" >

            <mat-expansion-panel>
              <mat-expansion-panel-header> Terms </mat-expansion-panel-header>

              <table class="table table-bordered">
                  <thead>
                    <th>Type</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>State</th>
                    <th>District</th>
                    <th>Party</th>
                  </thead>
                  <tr *ngFor="let item of rep.legislator.terms; let i=index" >
                      <td class="capitalize"> {{ item.type }} </td>
                      <td>{{ item.start |  date:'shortDate'  }} </td>
                      <td> {{ item.end  | date: 'shortDate' }} </td>
                      <td> {{ item.state}}  </td>
                      <td> {{ item.district}}  </td>
                      <td> {{ item.party?.charAt(0)}}  </td>
                  </tr>
                </table>

            </mat-expansion-panel>
        </div>

      </mat-accordion>

      </div> <!-- rep.legislator -->

      <div *ngIf="!rep.isCurrent" class="card-text vert-space">
          <i class="fa fa-history  float-right"
            title="Historical Member"></i>
      </div>


      <!--
        rep.legislator.

        name.officialFull -- already done

        born: bio.birthday
        id.wikipedia
        if phrase has multiple words, replace each gap with underscore
         https://en.wikipedia.org/wiki/ +
        Nancy_Pelosi

        from the last Term element:
          url -> call it web:
          phone

        leadershipRoles:
          title
          chamber
          start  remove hour/min/second from timestamp
          end

        terms: Term[] -- if user expands
          type
          start
          end
          state
          district
          party

      -->

    </div> <!-- card-block -->

  </div> <!-- card -->
  <div *ngIf="false">
    <pre>
      {{ rep | json }}
    </pre>
  </div>
