<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">
      Presidential Primaries 2019: Compare Candidates On Their Voting Records

      <app-wrapped-share-button></app-wrapped-share-button>

    </h3>
    <div class="small">
      Powered by <a href="https://usarep.org" target="_blank">USARep.</a>
      If not all candidates are visible, go to
      <a href="https://usarep.org/" target="_blank">usarep.org</a>.
    </div>
  </div> <!-- panel heading-->

  <div class="panel-body">

    <div>
      <h5> Compare Senators</h5>

      <app-presidential-primary-table
        [reps]="senators"
        [chamberName]="'senate'"
        [newPage]="true">
      </app-presidential-primary-table>

      <div>
        Joe Biden has had overlapping years
        only with Bernie Sanders  (in the US Senate, 2007-2008).

        <a  class="bold" [routerLink]="['/compare', 'senate', csv(biden.value, sanders.value) ]">Biden vs Sanders.</a>

        <span class="hspace"></span>
        <a class="bold" [routerLink]="['/search', 'senate', biden.value, '*']" target="_blank">Biden's latest votes.</a>

      </div>

    </div>

    <div>

      <h5> House of Representatives</h5>

      <div>


   Tulsi Gabbard's
   <a  href="https://www.usarep.org/vote/house/1-G000571@tulsi-gabbard" target="_blank" >Voting Record.</a>

      </div>
      <!--

        was
      <app-presidential-primary-table
        [reps]="houseMembers"
        [chamberName]="'house'"
        [newPage]="true">
      </app-presidential-primary-table>
      -->

    </div>


  </div> <!-- panel body -->

</div> <!-- panel panel-default -->


