// make a copy of this file. call it .env and remove all comment lines (such as this line)
// change env variables to fit your environment
RECAPTCHA_SERVER_KEY=your_recaptcha_v3_server_side_key
JSON_WEB_TOKEN_SERVER_KEY=testJsonWebToken_something_long_and_random
MONGO_URL=mongodb://localhost:27017/dbName
FIRST_TIME=0
IS_PROD=1
