export const environment = {
  production: true,
  // server: "http://localhost:3001", // for testing prod in local

  // change this to your production server
  server: "http://compararep.com:8080",

  // client side key for reCaptcha V3.
  // the data here is NOT a valid key. supply your own
  reCaptchaV3ClientKey: 'asdfghklzxcvbnmqwertyuiop'


};
