<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">
      Presidential Primaries 2019: Compare Candidates On Their Voting Records
    </h3>
  </div> <!-- panel heading-->

  <div class="panel-body">
    <div>
        Many of the candidates running for President have a similar message.
        Do you find it hard to figure out how they differ?
        Well, here is an objective comparison -- of their voting records.
    </div>

    <div>
    <h5> Compare Senators</h5>

    <table class="table table-bordered senators">
        <tr>
          <td></td>
          <td><img class="photo" [src]="getPhotoUrl(warren)"> Elizabeth Warren</td>
          <td><img class="photo" [src]="getPhotoUrl(gillibrand)"> Kirsten Gillibrand</td>
          <td><img class="photo" [src]="getPhotoUrl(harris)"> Kamala Harris</td>
        </tr>
        <tr>
          <td><img class="photo" [src]="getPhotoUrl(warren)">Elizabeth Warren</td>
          <td><a [routerLink]="['/vote', 'senate', warren.chamberNameId]">Own Record</a></td>
          <td><a class="bold" [routerLink]="['/compare', 'senate', csv(warren.chamberNameId, gillibrand.chamberNameId)]">Compare</a></td>
          <td><a class="bold" [routerLink]="['/compare', 'senate', csv(warren.chamberNameId, harris.chamberNameId)]">Compare</a></td>
        </tr>
        <tr>
          <td><img class="photo" [src]="getPhotoUrl(gillibrand)">Kirsten Gillibrand</td>
          <td></td>
          <td><a [routerLink]="['/vote', 'senate', gillibrand.chamberNameId]">Own Record</a></td>
          <td><a class="bold" [routerLink]="['/compare', 'senate', csv(gillibrand.chamberNameId, harris.chamberNameId)]">Compare</a></td>
        </tr>
        <tr>
          <td><img class="photo" [src]="getPhotoUrl(harris)">Kamala Harris</td>
          <td></td>
          <td></td>
          <td><a [routerLink]="['/vote', 'senate', harris.chamberNameId]">Own Record</a></td>
        </tr>

      </table>

    </div>

    <div>

      <h5> Compare  House Members</h5>

      <table class="table table-bordered houseMembers">
          <tr>
            <td></td>
            <td><img class="photo" [src]="getPhotoUrl(gabbard)">Tulsi Gabbard</td>
            <td><img class="photo" [src]="getPhotoUrl(castro)">Joaquin Castro</td>
            <td><img class="photo" [src]="getPhotoUrl(swalwell)">Eric Swalwell</td>
          </tr>
          <tr>
            <td><img class="photo" [src]="getPhotoUrl(gabbard)">Tulsi Gabbard</td>
            <td><a [routerLink]="['/vote', 'house', gabbard.chamberNameId]">Own Record</a></td>
            <td><a class="bold" [routerLink]="['/compare', 'house', csv(gabbard.chamberNameId, castro.chamberNameId) ]">Compare</a></td>
            <td><a class="bold" [routerLink]="['/compare', 'house', csv(gabbard.chamberNameId, swalwell.chamberNameId) ]">Compare</a></td>
          </tr>
          <tr>
            <td><img class="photo" [src]="getPhotoUrl(castro)">Joaquin Castro</td>
            <td></td>
            <td><a [routerLink]="['/vote', 'house', castro.chamberNameId]">Own Record</a></td>
            <td><a class="bold" [routerLink]="['/compare', 'house', csv(castro.chamberNameId, swalwell.chamberNameId)]">Compare</a></td>
          </tr>
          <tr>
            <td><img class="photo" [src]="getPhotoUrl(swalwell)">Eric Swalwell</td>
            <td></td>
            <td></td>
            <td><a [routerLink]="['/vote', 'house', swalwell.chamberNameId]">Own Record</a></td>
          </tr>

        </table>

      </div>

  </div> <!-- panel body -->

</div> <!-- panel panel-default -->
