<div class="container-fluid">
  <div class="row">
    <form class="form-group" [formGroup]="_searchForm" (ngSubmit)="compareReps()">
     <!-- [formGroup]="compareRepsForm" -->
       <ul class="list-inline">
         <li *ngFor="let item of _selectedReps; let i=index;  "
           [class]="getCssClass(item.party)" >
           <img *ngIf="item.photoAvailable"
           [src]="getPhotoUrl(item)" height="100px">
           {{ item.label }}
           <i (click)="deleteItem(item)"
               class="glyphicon glyphicon-remove">
           </i>
         </li>
       </ul>

       <app-spinner [visible]="_repDataLoading"> </app-spinner>

       <div class="well col-sm-6">
          <input
               [disabled]="false || _selectedReps?.length >= _MAX_COMPARE"
                [ngModel]="_searchStr"
                (ngModelChange)="onKeyPress($event)"
                placeholder="Enter name of representative"
                class="form-control input-sm"
                formControlName="search"
                #search
                >
             <i *ngIf="_selectedReps?.length >= _MAX_COMPARE"
               class="glyphicon glyphicon-question-sign"
               (click)="showMaxCompareInfo()" > </i>
        </div>
        <div class="col-sm-3">
          <mat-form-field>
            <mat-select formControlName="state"
                placeholder="Narrow by State"
                (selectionChange)="stateSelectionChange($event)"
            >
              <mat-option>--</mat-option>
              <mat-option *ngFor="let state of states"
                [value]="state.abbr">{{state.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-3">
               <mat-slide-toggle
                  class="vert-space"
                  [color]="slideToggleColor"
                  [checked]="showHistorical"
                  (change)="toggleHistorical()"
                  >
                  Show Historical
              </mat-slide-toggle>
        </div>

             <div
               *ngIf="_selectedReps?.length >= _MAX_COMPARE && _isMaxCompareInfoVisible"
               class="alert alert-success">To select a different representative, please first remove one you have already selected.
               <i
                 (click)="hidMaxCompareInfo()"
                 class="glyphicon glyphicon-remove"></i>
             </div>

     </form>
    </div> <!-- row -->

    <div class="row">
     <div *ngFor="let rep of _matchingReps"
             class="col-sm-3">

       <app-rep-select-card [rep]="rep" (click)="onSelected(rep)"></app-rep-select-card>

       <div *ngIf="false" class="card">
         <div class="card-block">
           <h3 class="card-title rep-name">{{ rep.label }} </h3>
           <p class="card-text">
             <!-- With supporting text below as a natural lead-in to additional content.
             -->
           </p>
            <button class="btn btn-primary"  (click)="onSelected(rep)" >Select</button>

         </div>
       </div> <!-- card -->

      </div>  <!-- col-sm-3 -->
    </div> <!-- row -->

 </div> <!-- container-fluid -->
