<div class="container-fluid">
  <div class="row">
    <form class="form-group" [formGroup]="_searchForm" (ngSubmit)="compareReps()">
     <!-- [formGroup]="compareRepsForm" -->
       <ul class="list-inline">
         <li *ngFor="let item of _selectedReps; let i=index;  "
           [class]="getCssClass(item.party)" >
           {{ item.label }}
           <i (click)="deleteItem(item)"
               class="glyphicon glyphicon-remove">
           </i>
         </li>
       </ul>

       <div class="well col-sm">
             <app-spinner [visible]="_repDataLoading"> </app-spinner>

             <input
               [disabled]="false || _selectedReps?.length >= _MAX_COMPARE"
                [ngModel]="_searchStr"
                (ngModelChange)="onKeyPress($event)"
                placeholder="Enter name of representative"
                class="form-control input-sm"
                formControlName="search"
                #search
                >
             <i *ngIf="_selectedReps?.length >= _MAX_COMPARE"
               class="glyphicon glyphicon-question-sign"
               (click)="showMaxCompareInfo()" > </i>
       </div>
             <div
               *ngIf="_selectedReps?.length >= _MAX_COMPARE && _isMaxCompareInfoVisible"
               class="alert alert-success">To select a different representative, please first remove one you have already selected.
               <i
                 (click)="hidMaxCompareInfo()"
                 class="glyphicon glyphicon-remove"></i>
             </div>

     </form>
    </div> <!-- row -->

    <div class="row">
     <div *ngFor="let rep of _matchingReps"
             class="col-sm-3">

       <div class="card">
         <div class="card-block">
           <h3 class="card-title rep-name">{{ rep.label }} </h3>
           <p class="card-text">
             <!-- With supporting text below as a natural lead-in to additional content.
             -->
           </p>
            <button class="btn btn-primary"  (click)="onSelected(rep)" >Select</button>

         </div>
       </div> <!-- card -->

      </div>  <!-- col-sm-3 -->
    </div> <!-- row -->

 </div> <!-- container-fluid -->
