<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">
      Presidential Primaries 2019: Compare Candidates On Their Voting Records
    </h3>
  </div> <!-- panel heading-->

  <div class="panel-body">
    <div>
        Many of the candidates running for President have a similar message.
        Do you find it hard to figure out how they differ?
        Well, here is an objective comparison -- of their voting records.
    </div>

    <div>
      <h5> Compare Senators</h5>

      <app-presidential-primary-table
        [reps]="senators"
        [chamberName]="'senate'">
      </app-presidential-primary-table>

      <div>
        Joe Biden has had overlapping years
        only with Bernie Sanders  (in the US Senate, 2007-2008).

        <a class="bold" [routerLink]="['/compare', 'senate', csv(biden.value, sanders.value) ]">Biden vs Sanders.</a>

        <span class="hspace"></span>
        <a class="bold" [routerLink]="['/search', 'senate', biden.value, '*']">Biden's latest votes.</a>

      </div>
    </div>

    <div>

      <h5> Compare  House Members</h5>

      <app-presidential-primary-table
        [reps]="houseMembers"
        [chamberName]="'house'">
      </app-presidential-primary-table>

    </div>

    <div>
      Non-congressional members (for whom similar apples-to-apples comparison
      data is not available) include:
      <ul class="list-group">
        <li class="list-group-item">Pete Buttigieg, Mayor of South Bend, Indiana.</li>
        <li class="list-group-item">Julian Castro, Former Secretary of Housing and Urban Development.</li>
        <li class="list-group-item">Marianne Williamson, Author, Lecturer, and Activist.</li>
      </ul>
    </div>
    <div>
      Candidates who have dropped out of the race:
      <ul class="list-group">
          <li class="list-group-item">John Hickenlooper, Former Governor of Colorado.</li>
          <li class="list-group-item">Bill De Blasio, Mayor of New York City.</li>
          <li class="list-group-item"> Kirsten Gillibrand, Senator  </li>
          <li class="list-group-item">Jay Inslee, Governor of Washington.</li>
          <li class="list-group-item"> Seth Moulton, Congressman  </li>
          <li class="list-group-item"> Beto O'Rourke, Former Congressman  </li>
          <li class="list-group-item"> Tim Ryan, Congressman  </li>
          <li class="list-group-item"> Eric Swallwell, Congressman  </li>
      </ul>
    </div>



  </div> <!-- panel body -->

</div> <!-- panel panel-default -->

