<div *ngIf="aboutAvailable" class="container-fluid li-footer">
    <div class="row">
        <div class="col-sm-3">
            © usarep.org 2019
        </div>
        <div class="col-sm-3">
          <a [routerLink]="['/company', 'about']">
            About
          </a>
        </div> <!-- col-->

        <div class="col-sm-3">
            <a [routerLink]="['/company', 'privacy']">
              Privacy Policy
            </a>
        </div> <!-- col-->

        <div class="col-sm-3">
            <a [routerLink]="['/company', 'feedback']">
              Feedback
            </a>
        </div> <!-- col-->
     </div> <!-- row -->

  </div> <!-- container-fluid  -->

  <!-- temp, about not available -->
  <div *ngIf="!aboutAvailable" class="container-fluid li-footer">
    <p class="text-center">
      © usarep.org 2019
    </p>
  </div>
<!--


<div class="li-footer">
  <ul class="li-footer-list">
    <li class="li-footer-item">
      <span class="li-footer-copy-text">© USARep.org 2019</span>
    </li>
    <li class="li-footer-item">
        <a [routerLink]="" >About</a>
    </li>

    <li class="lli-footer-item">
        <a  class="li-footer-item-link" [routerLink]="" >Privacy Policy</a>
      </li>
      <li class="li-footer-item">
        <a class="li-footer-item-link" [routerLink]="">Feedback</a>
      </li>

  </ul>

</div>

-->


<!--
<div class="container-fluid footer">
  <ul *ngIf="aboutAvailable" class="list-group">
    <li class="list-group-item">
      <a [routerLink]="" >About</a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="" >Privacy Policy</a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="">Feedback</a>
    </li>
  </ul>

</div>

-->

