<app-nav-bar *ngIf="!inIframe"></app-nav-bar>

<!--


<div *ngIf="!inIframe" class="hidden-xs our-breadcrumb">
  <breadcrumb></breadcrumb>
</div>

-->

<!--


<div *ngIf="!inIframe" class="visible-xs our-breadcrumb">
  <breadcrumb></breadcrumb>
</div>



<app-back-button  *ngIf="inIframe" ></app-back-button>

-->

<div class="hidden-xs app-vert-space">
  &nbsp;
</div>
<div class="visible-xs app-vert-space">
  &nbsp;
</div>

<router-outlet></router-outlet>

<!--


<app-wrapped-share-button  *ngIf="!inIframe"></app-wrapped-share-button>
-->

