.hidden-xs.our-breadcrumb {
  margin-top: 80px;
}

.visible-xs.our-breadcrumb {
  margin-top: 10px;
}

.hidden-xs.app-vert-space {
  margin-top: 80px;
}

.visible-xs.app-vert-space {
  margin-top: 10px;
}

.some-vspace {
  margin-top: 80px;
  padding-top: 10px;
}
