<div *ngIf="searchForm" class="row">
  <div class="col-sm-6">
      <form [formGroup]="searchForm" (ngSubmit)="searchBillForRepVote()" >
          <div class="well">
              <div class="input-group">
                  <input
                      type="text"
                      class="form-control"
                      formControlName="searchStr"
                      placeholder="Search for..."
                      aria-required="true"
                      aria-label="search bill for rep's vote">

                  <span class="input-group-btn">
                      <button type="submit"
                      [disabled]="!searchForm.valid || !searchForm.dirty"
                      class="btn btn-primary" > Go!</button>
                  </span>
                </div><!-- /input-group -->

          </div> <!-- well -->
      </form>
</div>
</div>
