<nav class="navbar navbar-default ">
  <!-- navbar-fixed-top -->
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a
            class="navbar-brand"
            [class.active]="isCurrentlyActive('home')"
            routerLink="/" >
            <div class="hidden-xs">
            <img class="own-logo" title="ComparaRep" alt="Brand" src="/assets/img/congress.jpg">
                <app-active-link-sr [isActive]="isCurrentlyActive('home')"></app-active-link-sr>
            </div>
            <div class="visible-xs">
                <img class="own-logo-small" title="ComparaRep" alt="Brand" src="/assets/img/congress.jpg">
                <app-active-link-sr [isActive]="isCurrentlyActive('home')"></app-active-link-sr>
            </div>
        </a>
     </div> <!-- navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <!--
            <li>
              <a [routerLink]="['/vote', 'house']" >
                 Record: House
              </a>
            </li>

            <li>
              <a [routerLink]="['/vote', 'senate']" >
               Record: Senate
              </a>
            </li>

            <li>
              <a [routerLink]="['/compare', 'house']" >
                Compare: House
              </a></li>
            <li>
              <a [routerLink]="['/compare', 'senate']" >
                Compare: Senate
              </a>
            </li>

          -->

            <li class="dropdown open">
                <a href="#"
                    class="dropdown-toggle"
                    role="button"
                    aria-haspopup="false"
                    aria-expanded="true">
                    Voting History <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/vote', 'house']" >CongressPerson</a></li>
                    <li><a [routerLink]="['/vote', 'senate']" >Senator</a></li>
                </ul>
            </li>

            <li class="dropdown open">
                <a href="#"
                    class="dropdown-toggle"
                    role="button"
                    aria-haspopup="false"
                    aria-expanded="true">
                    Compare & Contrast<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/compare', 'house']" >CongressPersons</a></li>
                    <li><a [routerLink]="['/compare', 'senate']" >Senators</a></li>
                </ul>


            </li>

            <li>
              <a [routerLink]="['/presidentialPrimaries']">Presidential Primaries</a>
            </li>

            <!--
            <li>
              <a href="/share">Share</a>
            </li>
             -->


        </ul> <!-- nav navbar-nav -->
    </div><!-- collapse navbar-collapse -->
  </div> <!--  container-fluid -->
</nav>
