<div class="container-fluid">
  <div class="row">
    <div class="col">

  <!--  presidential primaries panel -->
  <app-presidential-primaries></app-presidential-primaries>

   <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">
          Individual Voting Records of Members of Congress
        </h3>
      </div> <!-- panel heading-->

      <div class="panel-body">

        <p>
          Are you interested in learning about how your representatives in Congress vote?
          If so, you are at the right place.
        </p>

        <ul>
          <li>
              <a routerLink="/vote/house">Voting records of a member of the House </a>
          </li>
          <li>
              <a routerLink="/vote/senate">Voting records of a Senator</a>
          </li>
        </ul>

        <p>
          This site reports on how representatives voted.
          It's just about the facts. It's non-partisan.
        </p>

        <p>
          You can check voting records of current and former members of
          the House and the Senate, going back to 2003.
        </p>

        <p>
            Simply select member voting history for
            <a routerLink="/vote/house">House </a> or
            <a routerLink="/vote/senate">Senate </a>, and select the member of congress of
            interest to you.
        </p>

        <p>
          You can check for member votes by Policy Area (such as Education, Health, etc.),
          or by finer grained Legislative Subjects.
        </p>

        <!--
        <p>
            Detailed list of votes includes links to the actual bill and amendment that the vote was about.

            A House Amendment may be referred to as "Hudson of North Carolina Amendment No. 4"  in the official roll call.
            The text of these amendments are often hard to locate if one were to search for "Hudson of North Carolina Amendment No. 4" on the Internet.

            However, House Amendments also have a formal "HAMDT" number. In this case, it's HAMDT 152.
            This site gives you a summary of the text of amendment while
            showing the vote, and also gives you a link to the actual amendment.
        </p>
         -->

        <p>
          You can also see the bill or amendment summary and a list of actions taken on it.
        </p>

      </div> <!-- panel body -->

    </div> <!-- panel panel-default -->

    <div class="panel panel-default">
      <div class="panel-heading">
            <h3 class="panel-title">
              Interesting and Difficult Votes
            </h3>
      </div> <!-- panel heading-->

      <div class="panel-body">

            <p>
              So you might be asking, which votes are interesting? That's a great question.
            </p>

            <p>
              Start by checking which votes a member voted "Present." Look at the details of these bills or amendments.
              Something in there made it difficult for your representative to vote up or down.
            </p>

            <p>
              Next, check how your representative compares with someone who you consider "similar."  Or, if you are looking at a senate race,
              you can compare the two senators from your State.
            </p>

            <ul>
              <li><a routerLink="/compare/house">Compare two members of the House of Representatives </a></li>
              <li><a routerLink="/compare/senate"> Compare two Senators </a></li>
            </ul>


      </div> <!-- panel-body -->

    </div> <!-- panel panel-default -->
    <div class="panel panel-default">
      <div class="panel-heading">
            <h3 class="panel-title">
              What is Covered
            </h3>
      </div> <!-- panel heading-->

      <div class="panel-body">

        <table class="table table-bordered">
          <tr><td>Voting record</td><td>2003-Present</td></tr>
          <tr><td>Absence chart</td><td>2003-Present</td></tr>
          <tr><td>Comparing member votes</td><td>2003-Present</td></tr>
          <tr><td>Breakdown by Legislative Subjects</td><td>2013-Present</td></tr>
          <tr><td>Searching <u>across bills</u> for member's votes</td><td>2013-Present</td></tr>
          <tr><td>Searching for member's votes in roll call summary</td><td>2003-Present</td></tr>

        </table>


      </div> <!-- panel- body-->
    </div> <!-- panel panel-default -->


    <div class="panel panel-default">
      <div class="panel-heading">
            <h3 class="panel-title">
              Participate and Communicate
            </h3>
      </div> <!-- panel heading-->

      <div class="panel-body">

            <p>
            There is a subreddit <a href="http://old.reddit.com/r/compararep" target="_blank">/r/compararep</a> where you can discuss, investigate,
            and collaborate.
            </p>

            <p> Please also report any bugs or issues you find on that subreddit. </p>

            <p> Also, please share with your friends and connections. For democracy to succeed, more people must engage. </p>



      </div> <!-- panel- body-->
    </div> <!-- panel panel-default -->

    <div class="panel panel-default">
      <div class="panel-heading">
            <h3 class="panel-title">
              Quotes
            </h3>
      </div> <!-- panel heading-->

      <div class="panel-body">
        <div>Transparency shall be the order of the day - Speaker Pelosi, House Floor, 1/3/2019. </div>

      </div>


    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container-fluid -->
