<div class="container-fluid">

    <div class="row">
      <form class="form-group" [formGroup]="_searchForm" (ngSubmit)="indivReps()">

         <div class="column well col-sm">
               <app-spinner [visible]="_repDataLoading"> </app-spinner>

               <input
                  (ngModelChange)="onKeyPress($event)"
                  placeholder="Enter name of representative"
                  class="form-control input-sm"
                  formControlName="search"
                  #search
                  >

                <mat-slide-toggle
                  class="vert-space"
                  [color]="slideToggleColor"
                  [checked]="showHistorical"
                  (change)="toggleHistorical()"
                  >
                  Show Historical
              </mat-slide-toggle>

         </div>

       </form>
      </div> <!-- row -->

      <div class="row">
       <div *ngFor="let rep of _matchingReps"
               class="col-sm-3">

          <app-rep-select-card [rep]="rep" (click)="onSelected(rep)"></app-rep-select-card>

         <div *ngIf="false" class="card">
           <div class="card-block">
             <!-- image url format
              http://bioguide.congress.gov/bioguide/photo/E/E000215.jpg

              bio url format http://bioguide.congress.gov/scripts/biodisplay.pl?index=<bioGuide>
            -->

            <!--
              image commented out for now
            <img *ngIf="rep.bioGuide" class="card-img-top" height="100px"
            [src]="'http://bioguide.congress.gov/bioguide/photo/' + rep.bioGuide[0] + '/' + rep.bioGuide + '.jpg'"
            [alt]="rep.label">

            -->

             <h3 class="card-title rep-name">{{ rep.label }} </h3>
             <p class="card-text">
               <!-- With supporting text below as a natural lead-in to additional content.
               -->
               {{ rep.state }} - {{ rep.district}}
               {{ rep.partyFull }}
             </p>
             <button class="btn btn-primary"  (click)="onSelected(rep)" >Select</button>
           </div>
         </div> <!-- card -->

        </div>  <!-- col-sm-3 -->
      </div> <!-- row -->

     </div> <!-- container-fluid -->
