<table class="table table-bordered">
    <thead>
        <th>Year</th>
        <th>Num</th>
        <th class="rcbi">Question/Description</th>
        <th class="rep-name" > {{ _repVoteKeywordDetail.repName }} </th>
        <th>Date</th>
    </thead>
    <tr *ngFor="let rollCallInfoVote of _repVoteKeywordDetail.rollCallInfoVote">
        <td>{{ rollCallInfoVote.rollCallInfo?.year }} </td>
        <td> {{ rollCallInfoVote?.rollCallInfo?.rollCallNum }}   </td>
        <td class="rcbi">
            <app-roll-call-bill-info [rollCallInfo]="rollCallInfoVote.rollCallInfo" > </app-roll-call-bill-info>
        </td>
        <!--
        <td>rollCallInfoVote.rollCallInfo?.voteQuestion</td>
        <td>rollCallInfoVote.rollCallInfo?.voteDesc</td>
        -->
        <td>
            <i [class]="getVoteIcon(rollCallInfoVote.vote)"
                title="{{ rollCallInfoVote.vote }}"></i>
        </td>

        <td>{{ rollCallInfoVote.rollCallInfo?.actionDate }} </td>

    </tr>
</table>
