
<section class="section section-full">


<div class="container-fluid">

<div class="directory">
    <div class="directory-lists">
      <ul class="directory-list">

        <li class="directory-list-item-heading">Directories</li>

        <!-- dir/:chamber -->
        <li class="directory-list-item">
          <a class="directory-link"
            [routerLink]="['/dir', 'house']">
              House Members
          </a>
        </li>
        <li class="directory-list-item">
            <a class="directory-link"
              [routerLink]="['/dir', 'senate']">
                Senators
            </a>
          </li>
      </ul>  <!-- directory-list -->

      <ul class="directory-list">

          <li class="directory-list-item-heading">Comparisons </li>

          <!-- dir/:chamber -->
          <li class="directory-list-item">
            <a class="directory-link"
              [routerLink]="['/dir-compare', 'house']">
                House Members
            </a>
          </li>
          <li class="directory-list-item">
              <a class="directory-link"
                [routerLink]="['/dir-compare', 'senate']">
                  Senators
              </a>
            </li>
        </ul>  <!-- directory-list -->

  </div> <!-- directory-lists -->

</div> <!-- directory -->

</div>  <!-- container-fluid-->

</section>

<!--


<div>
<h4>Directories</h4>

< ! -- dir/:chamber -- >
<div class="list-group">
  <a class="list-group-item"
    [routerLink]="['/dir', 'house']">
    List of House Members
  </a>
  <a class="list-group-item"
    [routerLink]="['/dir', 'senate']">
    List of Senators
  </a>
</div>
</div>

-->
